<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="preload" href="/images/bloop-logo.png" as="image" />
  </head>
  <body>
    <div class="layout">
      <aside class="sidenav">
       <img
  src="/images/bloop-logo.png"
  alt="Bloop Logo"
  class="logo"
  width="150"
  height="42"
  fetchpriority="high"
/>
        <nav class="nav-links">
          <a href="/" class="nav-item"><span>🏠</span> Home</a>
          <a href="/about/" class="nav-item"><span>📟</span> About</a>
          <a href="/visit/" class="nav-item"><span>🗺️</span> Visit</a>
          <a href="/catalog/" class="nav-item"><span>📼</span> Catalog</a>
          <a href="/contact/" class="nav-item"><span>📫</span> Contact</a>
        </nav>
      </aside>
<main class="main-content">
  <div class="page-container">
    {{ content | safe }}
  </div>
</main>
    </div>
  </body>
</html>