{# Content Section Component #}
{# Usage: {% include "components/content-section.njk", {
  title: "Section Title",
  image: "image.jpg",
  imageAlt: "Alt text",
  imagePosition: "left", // or "right"
  content: "HTML content or plain text"
} %} #}

<div class="section">
  <h3 class="section-title">{{ title }}</h3>
  
  <div class="content-row">
    <table cellpadding="0" cellspacing="0">
      <tr>
        {% if imagePosition == "right" %}
          <td class="content-text">
            {{ content | safe }}
          </td>
          <td class="content-image">
            <img src="/images/{{ image }}" alt="{{ imageAlt }}" width="350" border="1">
          </td>
        {% else %}
          <td class="content-image">
            <img src="/images/{{ image }}" alt="{{ imageAlt }}" width="350" border="1">
          </td>
          <td class="content-text">
            {{ content | safe }}
          </td>
        {% endif %}
      </tr>
    </table>
  </div>
</div>
