---
layout: layout.njk
title: Contact
---
{% from "components/button.njk" import button %}

<div class="content-box">
  <h1 class="page-title">📞 Contact & Support</h1>
  
  <table width="100%" cellpadding="10" cellspacing="0">
    <tr>
      <td width="60%" valign="top">
        <h3>🏛️ Visit Us</h3>
        <p>
          <b>Currently:</b> We operate inside the <a href="http://museum.syssrc.com/" target="_blank" rel="noopener noreferrer">System Source Computer Museum</a> near Baltimore, MD
        </p>
        <p>
          <b>New Location:</b> We moved to Penn Hills, near Monroeville, PA! Setting up now.
        </p>
        
        <h3>📧 Get In Touch</h3>
        <ul>
          <li><b>Facebook:</b> <a href="https://www.facebook.com/bloopmuseum/" target="_blank" rel="noopener noreferrer">facebook.com/bloopmuseum</a></li>
          <li><b>Twitter/X:</b> <a href="https://x.com/bloopmuseum" target="_blank" rel="noopener noreferrer">@bloopmuseum</a></li>
          <li><b>Instagram:</b> <a href="https://instagram.com/bloopmuseum" target="_blank" rel="noopener noreferrer">@bloopmuseum</a></li>
          <li><b>YouTube:</b> <a href="https://www.youtube.com/channel/UCUEa9n-7FaM7_giCOnVK2jg" target="_blank" rel="noopener noreferrer">Bloop Museum Channel</a></li>
          <li><b>Patreon:</b> <a href="https://patreon.com/bloopmuseum" target="_blank" rel="noopener noreferrer">patreon.com/bloopmuseum</a></li>
        </ul>

        <h3>🎟️ Schedule a Tour</h3>
        <p>
          Want to visit? <a href="https://docs.google.com/forms/d/1QFuS2CZ8rJHTE4H5AA5qYRW8fTr0htWcf3iSkEwoF54/" target="_blank" rel="noopener noreferrer"><b>Schedule a tour here!</b></a>
        </p>
        <p>
          We welcome groups of all sizes and ages for educational tours.
        </p>
      </td>
        <br>
        <img src="/images/bloop-building.jpg" alt="The Bloop Museum exterior" width="500" border="1">
        <br>
    </tr>
  </table>

  <h3>🤝 Ways to Help</h3>
  
  <table width="100%" cellpadding="10" cellspacing="0">
    <tr>
      <td width="50%" valign="top">
        <h4>💪 Volunteer With Us</h4>
        <p>
          If you're near Baltimore or Pittsburgh, consider volunteering - contact us and we'll help you find something interesting to do! ☺
        </p>
        
        <h4>💰 Donate Money</h4>
        <p style="font-style: italic; margin-bottom: 10px;">US donations are tax-deductible!</p>
        <ul>
          <li><a href="https://givebutter.com/bloopholiday" target="_blank" rel="noopener noreferrer">Support our new location</a></li>
          <li>If you donate to a DAF (donor-advised fund), you can recommend they donate to us (please give us a heads up)</li>
          <li>Livestreamers: We're set up with <a href="https://www.paypal.com/fundraiser/charity/4790893" target="_blank" rel="noopener noreferrer">PayPal Giving Fund</a></li>
          <li>Corporate matching: <a href="https://causes.benevity.org/causes/840-921125751" target="_blank" rel="noopener noreferrer">Benevity</a> or Deed</li>
        </ul>
      </td>
      <td width="50%" valign="top">
        <h4>🎮 Donate Artifacts</h4>
        <p>We're interested in donations in four major categories:</p>
        <ul>
          <li>Any electronic game, on any media, for any system, from any time period (or the system)</li>
          <li>Interesting computer hardware/software, especially non-PC or pre-2000</li>
          <li>Audio/video media & players, the more weird/obscure/failed, the better!</li>
          <li>Tech gadgets! Bring in your old MP3 player, phone, or other obsolete thing</li>
        </ul>
        
        <h4>📢 Spread the Word</h4>
        <p>Help us by telling others about the museum and our campaign!</p>
      </td>
    </tr>
  </table>

  <p style="text-align: center; font-style: italic;">
    The Bloop Museum - EIN 92-1125751 - A 501(c)(3) Public Charity
  </p>
</div> 